sbitdatafactoryhuilu001/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "sbitdatafactoryhuilu001"
		},
		"to_gen2_linked_service_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'to_gen2_linked_service'"
		},
		"from_github_linked_service_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://raw.githubusercontent.com/dakuikui001/SBIT_ETL_with_Terraform_on_Azure/refs/heads/main/raw_data/"
		},
		"to_gen2_linked_service_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://dataprojectsforhuilu001.dfs.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Mainpipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Pipeline For CSV",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "mainpipelineForCSV",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"file_prefixes": {
									"value": "@pipeline().parameters.file_prefix_for_csv",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Execute Pipeline For Json",
						"type": "ExecutePipeline",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Execute Pipeline For CSV",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "mainpipelineForJson",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"filePrefix": {
									"value": "@pipeline().parameters.file_prefix_for_json",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"file_prefix_for_csv": {
						"type": "array",
						"defaultValue": [
							"1-registered_users_",
							"5-gym_logins_"
						]
					},
					"file_prefix_for_json": {
						"type": "array",
						"defaultValue": [
							"2-user_info_",
							"3-bpm_",
							"4-workout_"
						]
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-01-04T12:44:19Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/mainpipelineForCSV')]",
				"[concat(variables('factoryId'), '/pipelines/mainpipelineForJson')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/mainpipelineForCSV')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.file_prefixes",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Execute subPipeline",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "subpipelineForCSV",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"prefix_from_parent": {
												"value": "@item()",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"file_prefixes": {
						"type": "array"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-01-04T12:44:17Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/subpipelineForCSV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/mainpipelineForJson')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEachJosn",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.filePrefix",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Execute subPipeline",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "subpipelineForJson",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"filePrefixFromMain": {
												"value": "@item()",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"filePrefix": {
						"type": "array"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-01-04T12:44:17Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/subpipelineForJson')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/subpipelineForCSV')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@range(1, 5)",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data for CSV",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET"
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "csvFromGithub",
											"type": "DatasetReference",
											"parameters": {
												"fineName": {
													"value": "@{pipeline().parameters.prefix_from_parent}@{item()}.csv",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "csvToGen2",
											"type": "DatasetReference",
											"parameters": {
												"fileName": {
													"value": "@{pipeline().parameters.prefix_from_parent}@{item()}.csv",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"prefix_from_parent": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-01-04T12:44:15Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/csvFromGithub')]",
				"[concat(variables('factoryId'), '/datasets/csvToGen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/subpipelineForJson')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@range(1,2)",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data Json",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET"
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "JsonFromGithub",
											"type": "DatasetReference",
											"parameters": {
												"fileName": {
													"value": "@{pipeline().parameters.filePrefixFromMain}@{item()}.json",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "JsonToGen2",
											"type": "DatasetReference",
											"parameters": {
												"fileName": {
													"value": "@{pipeline().parameters.filePrefixFromMain}@{item()}.json",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"filePrefixFromMain": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-01-04T12:44:15Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/JsonFromGithub')]",
				"[concat(variables('factoryId'), '/datasets/JsonToGen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/JsonFromGithub')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "from_github_linked_service",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"fileName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": {
							"value": "@dataset().fileName",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/from_github_linked_service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/JsonToGen2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "to_gen2_linked_service",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"fileName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().fileName",
							"type": "Expression"
						},
						"folderPath": "data_zone/test_data",
						"fileSystem": "sbit-unmanaged-dev"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/to_gen2_linked_service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/csvFromGithub')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "from_github_linked_service",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"fineName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": {
							"value": "@dataset().fineName",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/from_github_linked_service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/csvToGen2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "to_gen2_linked_service",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"fileName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().fileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat(\n    'data_zone/raw/', \n    substring(dataset().fileName, add(indexOf(dataset().fileName, '-'), 1), sub(lastIndexOf(dataset().fileName, '_'), add(indexOf(dataset().fileName, '-'), 1))), \n    '_bz'\n)",
							"type": "Expression"
						},
						"fileSystem": "sbit-project"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/to_gen2_linked_service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/from_github_linked_service')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('from_github_linked_service_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/to_gen2_linked_service')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('to_gen2_linked_service_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('to_gen2_linked_service_accountKey')]"
					}
				}
			},
			"dependsOn": []
		}
	]
}